*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px; 
  padding: 10px; 
}



body {
  min-height: 200vh;
  background: rgb(182, 113, 3);
}
header{
  background: rgb(239, 216, 4);
}
header nav{
  background: rgba(0, 0, 253, 0.89);
  padding: 10px;
  text-align: center ;
}
header nav a {
  color: white; 
  margin: 0 15px; 
  text-decoration: none; 
}
main{
background: rgb(26, 253, 1);
}
section {
background: rgb(255, 247, 0);
margin: 40px auto;
padding: 20px;
}