*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px; 
}



body {
  min-height: 200vh;
  background: rgb(182, 113, 3);
}
header{
  background: rgb(239, 216, 4);
}
header nav{
  background: rgba(0, 0, 253, 0.89);
  padding: 10px;
  text-align: center ;
}
header nav a {
  color: white; 
  margin: 0 15px; 
  text-decoration: none; 
}
main{
background: rgb(26, 253, 1);
}
section {
background: rgb(255, 247, 0);
margin: 40px auto;
padding: 20px;
}
.flexbox {
  display: flex;
  padding: 10px;
  column-gap: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
}
.grid img {
  width: 80%;
  margin: 20px auto;
}
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "i1 i2"
    "ta ta"
    "vi bt";
}




footer {
  background: #c35dbe;
  color: white;
  display: flex; /* Active flexbox pour centrer le contenu. */
  justify-content: center; /* Centre horizontalement le texte. */
  align-items: center; /* Centre verticalement le texte. */
  height: 80px; /* Hauteur fixe du footer. */
}